<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Plazacraft.HOMM3.DamageSymulator.WebService.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	  
      <defaultDocument enabled="true">
         <files>
            <add value="default.html" />
         </files>
      </defaultDocument>	  
    </system.webServer>
  </location>
  <location path="schemas"> 
    <system.web>
      <authorization>
        <allow users="*"/> 
      </authorization>
    </system.web>
  </location>  
  <location path="config"> 
    <system.web>
      <authorization>
        <allow users="*"/> 
      </authorization>
    </system.web>
  </location>  
  <location path="wwwroot"> 
    <system.web>
      <authorization>
        <allow users="*"/> 
      </authorization>
    </system.web>
  </location>  
</configuration>